@tailwind base;
@tailwind components;
@tailwind utilities;


.dashboard-layout {
  display: flex;
}

.sidebar {
  width: 250px;  /* Set width for your navbar */
  position: fixed;  /* Keep it fixed to the left */
  height: 100vh;  /* Full height */
}

.main-content {
  margin-left: 250px;  /* Offset the content by the width of the sidebar */
  padding: 20px;
  flex-grow: 1;
}
